@charset "UTF-8";
/*博客园样式代码*/
/*颜色变量*/
/*通用设置*/
body {
  background: #f3f3f3;
  font-size: 14px;
  font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased; }

a {
  color: #333; }
  a:hover {
    color: #FF6700;
    text-decoration: underline;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear; }

#navigator {
  background: rgba(0, 0, 0, 0.67);
  color: #FFF; }
  #navigator > ul > li > a {
    color: #FFF; }
    #navigator > ul > li > a:link {
      color: #FFF; }
    #navigator > ul > li > a:hover {
      color: #FF6700 !important; }
    #navigator > ul > li > a:visited {
      color: #FFF; }
  #navigator #blog_stats {
    color: #FFF; }

#cnblogs_post_body h2 {
  background: #A8A8A8;
  padding: 8px 0 8px 10px;
  margin: 20px auto 40px auto;
  font-size: 1.4em;
  border-radius: 3px;
  color: #FFF; }

#blog-sidecolumn .sidebar-block h3 {
  background: #FF6700;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: #FF6700 solid 1px;
  padding: 7px 5px 5px; }

#blog-sidecolumn .sidebar-block ul {
  background: #FFF; }

