@import "common.scss";
/*基础设置代码*/
body {
    background: #EFF3F6;
}



/*自定义内容：重置container的最小宽度*/
@media (min-width: 1320px) {
    .container {
        width: 1320px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1392px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1560px;
    }
}

@media (min-width: 1860px) {
    .container {
        width: 1800px;
    }
}

@media (min-width: 2500px) {
    .container {
        width: 1800px;
    }
}



/*顶部*/
.header {
    width: 100%;
    background: #FFF;
    height: 60px;
    border-bottom: #E4E5E7 solid 1px;
    .logo {
        margin-top: 7px;
    }
}

.navbar {
    .navbar-brand {
        padding: 5px 15px;

        img {
            height: 40px;
        }
    }

    .navbar-collapse > ul {
        > li {
            > a {
                color: #777;

                > i {
                    margin-right: 5px;
                }
            }

            &:hover {
                border-bottom: #E73D4A solid 2px;

                > a {
                    background: #F3F5F7;
                    color: #E73D4A;
                }
            }

            &.active {
                border-bottom: #E73D4A solid 2px;

                > a {
                    color: #E73D4A;
                    background: #F3F5F7;
                    box-shadow: none;
                }
            }
        }
    }

    .navbar-right {
        li {
            a {
                padding-top: 14px;
                padding-bottom: 14px;

                img {
                    height: 20px;
                    overflow: hidden;
                }
            }
        }
    }

    .dropdown-menu {
        li {
            a {
                padding: 10px 0;
                text-align: center;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    .header_img_25 {
        width: 25px;
    }
}

/*主体内容区域*/
.edition_box{
    border:#ccc solid 1px;
    border-top:#E73D4A solid 3px;
    h3{
        color:#E73D4A;
    }
}







/*------底部------*/
footer {
    background: #6E6E6E url(site/red/bg_footer.png) top center no-repeat;
    color: #FFF;
    font-size: 16px;

    a {
        color: #FFF;
    }

    h3 {
        background: url(site/red/allworld.png) no-repeat;
        padding-left: 45px;
        height: 40px;
        margin-top: 10px;
        line-height: 32px;
    }

    h4 {
        padding-left: 30px;
        height: 24px;
        margin: 10px 0 5px 7px;
        line-height: 22px;
    }

    h4.in {
        background: url(site/red/jingshin.png) 0 0 no-repeat;
    }

    h4.out {
        background: url(site/red/jingshout.png) 0 0 no-repeat;
    }

    ul {
        padding: 10px 10px 5px 40px;
        overflow: hidden;

        li {
            float: left;
            margin-right: 10px;
            line-height: 28px;
        }
    }

    .col-md-3 {
        text-align: center;

        p {
            width: 190px;
            margin: 0 auto;
        }
    }

    .tel {
        background: url(site/red/tel.png) 0 15px no-repeat;
        padding-left: 55px;
        height: 67px;
        padding-top: 15px;

        span {
            color: #eeae3b;
            font-weight: bolder;
            font-size: 16px;
        }
    }

    .contact {
        border-top: #FFF dashed 1px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;

        a {
            font-size: 16px;
            margin-left: 4px;
            margin-right: 4px;
            padding: 3px 5px;
        }
    }

    .bottom {
        background: #484848;
        height: 40px;
        line-height: 40px;
    }

    .col-md-3 > img {
        margin-top: 10px;
        cursor: pointer;
    }
}

/*------底部结束------*/
