@charset "UTF-8";
/*公用字体颜色、背景颜色集合及对应的变量集合*/
.bg_blue_light {
  background-color: #0097d3; }

.bg_red_light {
  background-color: #F1494E; }

.bg_yellow_light {
  background-color: #FFBC00; }

.bg_green_light {
  background-color: #45BE95; }

.bg_grey_light {
  background-color: #B2B2B2; }

.bg_grey_dark {
  background-color: #808080; }

.bg_yellow {
  background-color: #FF7937; }

.bg_red {
  background-color: #ff5b5b; }

.bg_9f {
  background-color: #9f9f9f; }

.color_blue_light {
  color: #0097d3; }

.color_red_light {
  color: #F1494E; }

.color_yellow_light {
  color: #FFBC00; }

.color_green_light {
  color: #45BE95; }

.color_grey_light {
  color: #B2B2B2; }

.color_grey_dark {
  color: #808080; }

.color_red {
  color: #ff5b5b; }

.color_9f {
  color: #9f9f9f; }

.color_yellow {
  color: #FF7937; }

/*公用设定*/
body {
  font: 400 14px/22px "Helvetica", "Tahoma", "Arial", "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", "Heiti", "黑体", sans-serif; }

a {
  text-decoration: none;
  color: #0097d3; }
  a:hover {
    text-decoration: underline;
    color: #FF7937;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear; }

ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

/*jQuery.Validate验证样式集合*/
.input-validation-error {
  border-color: #a94442;
  color: #a94442; }

.validation-summary-errors {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fbe1e3;
  border-color: #fbe1e3;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
  color: #e73d4a; }
  .validation-summary-errors span {
    background: url(images/icon/16/warning_triangle.png) 0 3px no-repeat;
    padding-left: 20px; }
  .validation-summary-errors ul {
    padding-left: 50px; }
    .validation-summary-errors ul li {
      list-style: disc; }

.validation-summary-valid span {
  display: none; }

/*基础设置代码*/
body {
  background: #EFF3F6; }

/*自定义内容：重置container的最小宽度*/
@media (min-width: 1320px) {
  .container {
    width: 1320px; } }

@media (min-width: 1400px) {
  .container {
    width: 1392px; } }

@media (min-width: 1600px) {
  .container {
    width: 1560px; } }

@media (min-width: 1860px) {
  .container {
    width: 1800px; } }

@media (min-width: 2500px) {
  .container {
    width: 1800px; } }

/*顶部*/
.header {
  width: 100%;
  background: #FFF;
  height: 60px;
  border-bottom: #E4E5E7 solid 1px; }
  .header .logo {
    margin-top: 7px; }

.navbar .navbar-brand {
  padding: 5px 15px; }
  .navbar .navbar-brand img {
    height: 40px; }

.navbar .navbar-collapse > ul > li > a {
  color: #777; }
  .navbar .navbar-collapse > ul > li > a > i {
    margin-right: 5px; }

.navbar .navbar-collapse > ul > li:hover {
  border-bottom: #E73D4A solid 2px; }
  .navbar .navbar-collapse > ul > li:hover > a {
    background: #F3F5F7;
    color: #E73D4A; }

.navbar .navbar-collapse > ul > li.active {
  border-bottom: #E73D4A solid 2px; }
  .navbar .navbar-collapse > ul > li.active > a {
    color: #E73D4A;
    background: #F3F5F7;
    box-shadow: none; }

.navbar .navbar-right li a {
  padding-top: 14px;
  padding-bottom: 14px; }
  .navbar .navbar-right li a img {
    height: 20px;
    overflow: hidden; }

.navbar .dropdown-menu li a {
  padding: 10px 0;
  text-align: center; }
  .navbar .dropdown-menu li a i {
    margin-right: 10px; }

.navbar .header_img_25 {
  width: 25px; }

/***认证页面模态框样式***/
#myModal .modal-dialog {
  width: 900px; }

#myModal h4 {
  color: #FF6700; }

#myModal .modal-body {
  font-size: 16px;
  color: #e85e5d;
  text-align: center; }
  #myModal .modal-body img:first-child {
    margin-right: 30px; }
  #myModal .modal-body p {
    font-size: 20px;
    margin: 0;
    padding-top: 40px; }

/***整体*/
.authen {
  margin-bottom: 20px;
  /**信息**/ }
  .authen .authen_box1 {
    width: 70%;
    margin-left: 15%;
    color: #808080;
    background: #FFF;
    border: #E4E5E7 solid 1px;
    border-radius: 3px;
    padding: 20px; }
  .authen .container .form-group label {
    font-weight: normal; }
  .authen .authen_title-t {
    background: url("site/images/top.png") center top no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 80px;
    position: relative; }
  .authen .step {
    font-size: 15px;
    color: #767676;
    padding-left: 40%;
    margin-top: -10px; }
    .authen .step img {
      float: left !important;
      margin-right: 5px; }
    .authen .step div {
      float: left !important;
      margin-right: 5px; }
  .authen .authen_title-a {
    background: url("site/images/jindu2.png") center top no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 80px;
    position: relative; }
  .authen .authen_title-b {
    background: url("site/images/jindu1.png") center top no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 80px;
    position: relative; }
  .authen .authen_title-c {
    background: url("site/images/jindu3.png") center top no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 80px;
    position: relative; }
  .authen .zi {
    padding-left: 21%;
    padding-top: 10px;
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: 30px; }
    .authen .zi span {
      margin-right: 24%; }
  .authen .zhuyi_box {
    height: 65px;
    width: 60%;
    margin-left: 20%;
    border: 1px dotted #ff7937;
    border-top: 3px solid #ff7937;
    font-size: 15px;
    font-weight: 500;
    color: #E85E5D;
    padding: 10px 10%; }
    .authen .zhuyi_box img {
      display: block;
      float: left;
      margin-right: 50px; }
    .authen .zhuyi_box .img {
      margin-right: 100px; }
  .authen .information {
    width: 100%;
    padding: 20px 20%;
    padding-right: 0px; }
    .authen .information .xinxi {
      overflow: hidden;
      text-align: center; }
      .authen .information .xinxi li {
        padding-top: 20px;
        text-align: left;
        /*position: relative;*/
        clear: both;
        overflow: hidden;
        line-height: 34px; }
        .authen .information .xinxi li .span1 {
          font-size: 18px;
          display: inline-block;
          line-height: 34px;
          margin-left: 10px;
          color: #333; }
          .authen .information .xinxi li .span1 i {
            font-size: 15px;
            color: #E32C0A;
            margin-right: 10px; }
        .authen .information .xinxi li .select2-selection--single {
          height: 38px; }
          .authen .information .xinxi li .select2-selection--single > span {
            line-height: 38px;
            height: 38px; }
        .authen .information .xinxi li .sex, .authen .information .xinxi li .region {
          width: 40%;
          display: inline-block;
          margin-left: 10px;
          margin-right: 11px; }
        .authen .information .xinxi li .region {
          margin-bottom: -10px;
          margin-left: -5px;
          margin-right: 26px; }
          .authen .information .xinxi li .region select {
            margin-left: 15px; }
          .authen .information .xinxi li .region #Province {
            width: 25%; }
          .authen .information .xinxi li .region #City {
            width: 32%; }
          .authen .information .xinxi li .region #District {
            width: 31%; }
        .authen .information .xinxi li .sex span {
          margin-right: 15px;
          line-height: 34px;
          display: inline-block; }
          .authen .information .xinxi li .sex span input {
            margin-right: 5px; }
        .authen .information .xinxi li .span2 {
          font-size: 15px;
          color: #505050;
          line-height: 34px;
          display: inline-block;
          margin-right: 10px;
          background: url(/Content/site/images/success.png) left center no-repeat;
          text-indent: 35px; }
        .authen .information .xinxi li .span3 {
          font-size: 15px;
          color: #505050;
          line-height: 34px;
          display: inline-block;
          margin-right: 10px;
          background: url(/Content/site/images/fail1.png) left center no-repeat;
          text-indent: 35px; }
        .authen .information .xinxi li > input {
          width: 40%;
          padding-left: 15px;
          margin-left: 10px;
          margin-right: 11px;
          border-radius: 5px;
          border: none;
          border: 1px solid #e2e2e2; }
        .authen .information .xinxi li .select2 {
          width: 40% !important;
          margin-left: 10px;
          margin-right: 11px; }
      .authen .information .xinxi .year > .p1 {
        display: inline-block;
        width: 15%;
        margin-left: 20px;
        font-size: 15px; }
      .authen .information .xinxi .year > .year_icheck {
        overflow: hidden;
        width: 20%; }
        .authen .information .xinxi .year > .year_icheck label {
          font-size: 15px;
          color: #333;
          width: 10%;
          font-weight: 400; }
          .authen .information .xinxi .year > .year_icheck label div {
            margin-right: 10px; }
      .authen .information .xinxi .year div {
        font-size: 14px;
        color: #FF6700;
        margin-left: 13%; }
      .authen .information .xinxi .dis-none {
        display: none; }

.lf {
  float: left; }

/**认证上传头像 开始**/
.authen_rules_2 {
  color: #808080;
  width: 100%;
  padding: 20px 20%;
  margin-bottom: 20px; }
  .authen_rules_2 h4 {
    color: #ff6700;
    font-size: 16px;
    color: #ff6700;
    margin-bottom: 10px;
    margin-left: -15px; }
  .authen_rules_2 ol {
    padding-left: 0px; }
    .authen_rules_2 ol li {
      list-style: decimal;
      line-height: 20px; }
  .authen_rules_2 ul {
    padding: 20px 0; }
    .authen_rules_2 ul > li {
      float: left;
      width: 50%;
      text-align: center; }
      .authen_rules_2 ul > li img {
        width: 90%;
        height: 90%; }
      .authen_rules_2 ul > li p {
        margin-top: 15px; }

.uploader {
  width: 100%;
  padding: 20px 20%;
  margin-bottom: 20px;
  margin-top: 50px;
  position: relative; }
  .uploader h4 {
    margin-bottom: 15px; }
  .uploader #authen_Avatar {
    display: inline-block;
    position: absolute;
    bottom: 15%;
    right: 15%; }
  .uploader .tupian_span2 {
    font-size: 15px;
    color: #505050;
    line-height: 34px;
    display: inline-block;
    margin-right: 10px;
    background: url(/Content/site/images/success.png) left center no-repeat;
    text-indent: 35px; }
  .uploader .tupian_span3 {
    font-size: 15px;
    color: #505050;
    line-height: 34px;
    display: inline-block;
    margin-right: 10px;
    background: url(/Content/site/images/fail1.png) left center no-repeat;
    text-indent: 35px; }
  .uploader h3 {
    color: #ff6700; }

.save {
  text-align: center;
  width: auto;
  padding-left: 35%;
  float: left;
  font-weight: 600; }
  .save input {
    background: #ff7937;
    color: #fff;
    border: none;
    height: 40px;
    width: 160px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px; }
    .save input:hover {
      background-color: #de6f38; }
  .save a {
    width: 160px;
    height: 40px;
    float: left;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
    padding-top: 9px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ccc;
    margin-right: 20px;
    color: #777;
    text-decoration: none; }
    .save a:hover {
      cursor: pointer;
      background-color: #e6e6e6; }
  .save .a {
    background: #CCCCCC; }

#save {
  margin: 30px 0px;
  padding-left: 33%; }
  #save a {
    width: 160px;
    height: 40px; }
    #save a:hover {
      text-decoration: none; }

.success {
  padding: 5% 20%;
  overflow: hidden; }
  .success > img {
    float: left;
    margin-left: 20px;
    width: 250px;
    height: 250px;
    border: 1px solid #ff6700; }
  .success ul {
    float: left;
    background: url("site/images/authen_success.png") no-repeat top center; }
    .success ul li {
      clear: both;
      line-height: 25px;
      font-size: 18px;
      color: #4D5C4C;
      padding-left: 70px;
      padding-bottom: 16px; }
      .success ul li img {
        width: 30px;
        margin-right: 10px; }
      .success ul li span {
        font-size: 16px; }

/*------认证中心 LawyerCenter Authen 结束------*/
/***treeview 样式微调***/
.treecontainer {
  width: 100%; }
  .treecontainer .treeview {
    width: 100%;
    z-index: 9 !important; }

/*------工作台首页 LawyerCenter Home------*/
.lawyer_intro {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFF;
  border: 1px solid #D0D6DB;
  border-radius: 3px;
  /***律师首页认证标识开始***/
  /***律师首页认证标识结束***/ }
  .lawyer_intro .avatar {
    width: 200px; }
  .lawyer_intro h1 {
    color: #0097d3;
    display: inline-block;
    margin-bottom: 12px; }
    .lawyer_intro h1 small {
      color: #0097d3; }
  .lawyer_intro .name {
    border-bottom: #CCC dashed 1px; }
    .lawyer_intro .name span {
      display: inline-block;
      line-height: 25px;
      padding-left: 25px;
      margin-left: 15px; }
  .lawyer_intro .authen_Pass {
    color: #01b900;
    background: url(/Content/site/images/Index_authen_Pass.png) left center no-repeat; }
  .lawyer_intro .authen_UnPass {
    color: #e64a40;
    background: url(/Content/site/images/Index_authen_UnPass.png) left center no-repeat; }
  .lawyer_intro .authen_Post {
    color: #ff9600;
    background: url(/Content/site/images/Index_authen_Post.png) left center no-repeat; }
  .lawyer_intro .authen_Normal {
    color: #cccccc;
    background: url(/Content/site/images/Index_authen_Normal.png) left center no-repeat; }
  .lawyer_intro h3 {
    margin-bottom: 20px; }
  .lawyer_intro i {
    width: 20px;
    text-align: center;
    margin-right: 3px;
    color: #0097d3; }
  .lawyer_intro .intro {
    padding: 15px 0; }
    .lawyer_intro .intro li {
      width: 50%;
      float: left;
      line-height: 30px; }
    .lawyer_intro .intro span {
      margin-right: 3px;
      color: #808080; }
  .lawyer_intro .domain li {
    margin-bottom: 10px; }
  .lawyer_intro .domain span {
    cursor: pointer;
    background: #0097D3;
    padding: 6px 30px;
    color: #FFF;
    border-radius: 3px;
    display: inline-block; }
    .lawyer_intro .domain span:hover {
      background: #65b8f6; }

.lawyer_case {
  margin-top: 50px;
  background: #FFF;
  border: #E4E5E7 solid 1px;
  border-radius: 3px;
  min-height: 600px;
  height: 600px;
  height: auto !important;
  border-radius: 3px 3px 0 0; }
  .lawyer_case .panel-body {
    padding: 20px;
    font-size: 14px;
    border: none;
    min-height: 880px;
    height: 880px;
    height: auto !important; }
    .lawyer_case .panel-body .nocase {
      color: #F1494E;
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 16px; }
    .lawyer_case .panel-body .row {
      margin-bottom: 15px;
      border-bottom: #D0D6DB dashed 1px; }
      .lawyer_case .panel-body .row .col-md-12 {
        padding-top: 5px;
        padding-bottom: 5px; }
        .lawyer_case .panel-body .row .col-md-12 span {
          color: darkgrey; }
          .lawyer_case .panel-body .row .col-md-12 span i {
            color: #0097d3; }
      .lawyer_case .panel-body .row .col-md-6 {
        margin-bottom: 5px;
        color: darkgrey; }
        .lawyer_case .panel-body .row .col-md-6 span {
          padding: 2px 5px;
          color: #FFF;
          border-radius: 3px; }
    .lawyer_case .panel-body a {
      font-size: 18px;
      font-weight: 400; }

.lawyer_case_more {
  margin-top: 50px; }
  .lawyer_case_more .integrity {
    padding: 10px 20px 0px 20px;
    background: none; }
    .lawyer_case_more .integrity div span {
      color: #F1494E; }
    .lawyer_case_more .integrity div:first-child {
      margin-bottom: 10px; }
  .lawyer_case_more .btn {
    margin-top: 50px;
    color: #FFF;
    padding: 10px;
    margin-bottom: 20px; }
    .lawyer_case_more .btn i {
      margin-right: 3px; }
    .lawyer_case_more .btn .bg_blue_light:hover {
      background: #0487bb; }
  .lawyer_case_more p {
    text-align: center;
    color: #777; }
  .lawyer_case_more .lawyer_work {
    width: 40px;
    height: 30px;
    background: url(/Content/site/images/lawyer_info_work.png) 0 0 no-repeat;
    display: inline-block;
    float: left;
    margin-right: 10px; }
  .lawyer_case_more .lawyer_edu {
    width: 40px;
    height: 30px;
    background: url(/Content/site/images/lawyer_info_edu.png) 0 0 no-repeat;
    display: inline-block;
    float: left;
    margin-right: 10px; }
  .lawyer_case_more .lawyer_certificate {
    width: 30px;
    height: 32px;
    background: url(/Content/site/images/lawyer_info_certificate.png) 0 0 no-repeat;
    display: inline-block;
    float: left;
    margin-right: 10px; }
  .lawyer_case_more .lawyer_academic {
    width: 30px;
    height: 32px;
    background: url(/Content/site/images/lawyer_info_academic.png) 0 0 no-repeat;
    display: inline-block;
    float: left;
    margin-right: 10px; }
  .lawyer_case_more .lawyer_position {
    width: 30px;
    height: 32px;
    background: url(/Content/site/images/lawyer_info_position.png) 0 0 no-repeat;
    display: inline-block;
    float: left;
    margin-right: 10px; }

/*------工作台首页 LawyerCenter Home 结束------*/
/*------律师案例相关 LawyerCenter Case------*/
/*公用代码*/
.portlet {
  background: #FFF;
  border: #60aee4 solid 1px;
  border-radius: 3px;
  margin-bottom: 20px; }
  .portlet .title {
    background-color: #3598dc;
    padding: 0 10px;
    color: #FFF;
    min-height: 41px;
    border-radius: 3px 3px 0 0; }
  .portlet .body {
    min-height: 600px;
    padding: 20px; }
    .portlet .body h3 {
      margin: 30px 0;
      padding-bottom: 5px;
      font-weight: 300; }
    .portlet .body .form-actions {
      text-align: center;
      margin-top: 50px; }
      .portlet .body .form-actions input {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 10px; }

.case_box {
  padding: 20px;
  background: #FFF;
  border: #E4E5E7 solid 1px;
  border-radius: 3px;
  margin-bottom: 30px;
  padding-bottom: 0px; }
  .case_box .search {
    margin-bottom: 20px; }
    .case_box .search i {
      margin-right: 3px; }
    .case_box .search .btn-group {
      margin-left: 10px; }
  .case_box .case_item {
    padding: 10px 15px; }
    .case_box .case_item .pull-right {
      font-size: 12px;
      color: #c0c0c0; }
      .case_box .case_item .pull-right i {
        margin-right: 3px; }
    .case_box .case_item .row .col-md-12 a {
      font-size: 20px;
      line-height: 34px;
      color: #0097d3; }
    .case_box .case_item .row .col-md-12 a:hover {
      color: #ff6700; }
    .case_box .case_item .row .col-md-12 span {
      color: #0097d3; }
    .case_box .case_item .row .col-md-6 {
      margin-bottom: 5px;
      color: #B2B2B2; }
      .case_box .case_item .row .col-md-6 span {
        color: #FFF;
        padding: 1px 6px;
        border-radius: 3px; }
  .case_box .case_item:nth-child(odd) {
    background-color: #f9f9fb; }
  .case_box .case_item:nth-child(even) {
    background: #FFF; }
  .case_box .input-group-addon {
    background: #FFF; }

.case_filter {
  background: #FFF;
  padding-top: 20px;
  border: #E4E5E7 solid 1px; }
  .case_filter h3 {
    font-size: 16px;
    color: #6a6c6f;
    margin-bottom: 15px; }
  .case_filter h4 {
    font-size: 14px;
    color: #6a6c6f;
    margin-bottom: 10px; }
  .case_filter i {
    margin-right: 3px; }
  .case_filter .row {
    margin-bottom: 20px; }

.case_content textarea {
  width: 90%;
  height: 200px; }

/*添加案例相关CSS(LawyerCenter Case Add、Update)*/
.icheckbox_square-blue {
  background: url(/Content/site/lawDomain-icheck-blue.png) no-repeat; }

/*select2 样式覆盖开始*/
.select2 .select2-selection--single {
  height: 34px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  .select2 .select2-selection--single span {
    line-height: 34px !important; }
  .select2 .select2-selection--single .select2-selection__arrow {
    height: 34px; }

/*select2 样式覆盖结束*/
.lawyer .select2 .select2-selection--single, .court .select2 .select2-selection--single {
  border: 1px solid #c2cad8; }

.opt {
  padding: 20px 0;
  margin-bottom: 40px; }
  .opt button {
    margin-right: 5px;
    font-size: 14px; }
    .opt button i {
      padding-right: 3px; }

.opt_search {
  margin-bottom: 20px; }

.caseinfo .form-group .text_error {
  display: inline-block; }

.caseinfo .form-group .col-md-10 {
  padding-top: 3px; }
  .caseinfo .form-group .col-md-10 .col-md-12 {
    padding: 0;
    padding-top: 7px; }
  .caseinfo .form-group .col-md-10 .col-md-3 {
    padding: 0; }

.Status_pass .col-md-1 {
  padding-top: 7px; }

.CaseAnalysis1, .CaseAnalysis2, .CaseAnalysis3, .JudgmentDocument, .Status {
  margin-bottom: 5px !important; }
  .CaseAnalysis1 img, .CaseAnalysis2 img, .CaseAnalysis3 img, .JudgmentDocument img, .Status img {
    margin-right: 8px; }

#CaseAnalysis1, #CaseAnalysis2, #CaseAnalysis3, #JudgmentDocument {
  margin-bottom: 20px; }

.addcase > .case_info .portlet {
  margin-bottom: 30px;
  border-color: #e0e0e0;
  border-top-left-radius: ５px;
  border-top-right-radius: ５px; }
  .addcase > .case_info .portlet .box {
    margin: 0;
    border: 1px; }
  .addcase > .case_info .portlet .form-group label img {
    margin-top: -2px;
    margin-right: 8px; }
  .addcase > .case_info .portlet .tittle {
    background-color: #fcfcfc;
    border-color: #f4bebe;
    color: #333; }
    .addcase > .case_info .portlet .tittle img {
      margin-right: 10px; }
  .addcase > .case_info .portlet .body {
    min-height: 430px;
    padding: 30px 0;
    overflow: hidden;
    /***审级下拉选择框***/ }
    .addcase > .case_info .portlet .body .form-group {
      overflow: hidden;
      margin-bottom: 20px;
      /**日期控件**/
      /**法院**/
      /**案件类型**/
      /**案件性质（X）**/ }
      .addcase > .case_info .portlet .body .form-group label {
        line-height: 34px; }
        .addcase > .case_info .portlet .body .form-group label i {
          width: 10px;
          height: 10px;
          margin-right: 5px;
          background-image: url(/Content/site/images/star.png);
          display: inline-block; }
      .addcase > .case_info .portlet .body .form-group .text-error {
        display: inline-block; }
        .addcase > .case_info .portlet .body .form-group .text-error span {
          display: inline-block; }
      .addcase > .case_info .portlet .body .form-group input[name=JudgmentTime] {
        background: #fff; }
      .addcase > .case_info .portlet .body .form-group .court {
        height: 34px; }
        .addcase > .case_info .portlet .body .form-group .court .select2 {
          height: 34px; }
          .addcase > .case_info .portlet .body .form-group .court .select2 span {
            height: 34px;
            line-height: 34px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0; }
      .addcase > .case_info .portlet .body .form-group .casenature, .addcase > .case_info .portlet .body .form-group .casetype {
        position: relative; }
        .addcase > .case_info .portlet .body .form-group .casenature div, .addcase > .case_info .portlet .body .form-group .casetype div {
          margin-right: 10px !important; }
    .addcase > .case_info .portlet .body .select_div {
      height: 34px;
      border-radius: 4px;
      position: relative;
      border: 1px solid #ccc; }
      .addcase > .case_info .portlet .body .select_div #select_input {
        width: 100%;
        height: 32px;
        border: none;
        border-radius: 5px;
        text-indent: 10px;
        background-color: #fff; }
      .addcase > .case_info .portlet .body .select_div .select_top_02 {
        width: 20px;
        height: 28px;
        position: absolute;
        right: 5px;
        top: 2px;
        cursor: pointer;
        background: url(/Content/images/lawyer/CaseAdddown.png) center center no-repeat; }
      .addcase > .case_info .portlet .body .select_div .select_top_02_on {
        background: url(/Content/images/lawyer/CaseAddup.png) center center no-repeat; }
      .addcase > .case_info .portlet .body .select_div .select_down {
        position: absolute;
        top: 30px;
        left: 0px;
        display: none;
        z-index: 1;
        border: 1px solid #ccc;
        background: #fff; }
        .addcase > .case_info .portlet .body .select_div .select_down .select_checkbox {
          line-height: 30px;
          border-bottom: 1px dashed #ccc; }
          .addcase > .case_info .portlet .body .select_div .select_down .select_checkbox .level {
            position: relative;
            max-width: 100%;
            margin: 5px 0; }
            .addcase > .case_info .portlet .body .select_div .select_down .select_checkbox .level div {
              margin-right: 5px;
              position: relative; }
            .addcase > .case_info .portlet .body .select_div .select_down .select_checkbox .level #select {
              width: 50px;
              margin: 10px 0 10px 30px; }
        .addcase > .case_info .portlet .body .select_div .select_down .select_checkbox:last-child {
          border-bottom: none; }

/*添加案例相关CSS(LawyerCenter Case Add、Update)结束*/
/*Case—index 筛选部分CSS*/
.case_index .select2 {
  width: 100% !important; }
  .case_index .select2 .select2-selection--single {
    height: 34px;
    line-height: 34px; }
    .case_index .select2 .select2-selection--single span {
      height: 34px;
      line-height: 34px; }

.case_index .case_filtrate {
  background: #FFF;
  padding: 20px 30px;
  border: #E4E5E7 solid 1px;
  margin-bottom: 50px; }
  .case_index .case_filtrate h3 {
    font-size: 16px;
    color: #6a6c6f;
    margin-bottom: 15px; }
    .case_index .case_filtrate h3 i {
      margin-right: 10px; }
  .case_index .case_filtrate .col-md-12 h4 {
    line-height: 55px;
    font-size: 14px;
    color: #6a6c6f; }
    .case_index .case_filtrate .col-md-12 h4 i {
      margin-right: 10px; }
  .case_index .case_filtrate .col-md-12 row {
    padding: 0 15px; }
  .case_index .case_filtrate .col-md-12 .shenji1, .case_index .case_filtrate .col-md-12 .shenji2, .case_index .case_filtrate .col-md-12 .shenji3 {
    cursor: pointer; }
    .case_index .case_filtrate .col-md-12 .shenji1 div, .case_index .case_filtrate .col-md-12 .shenji2 div, .case_index .case_filtrate .col-md-12 .shenji3 div {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      border: 1px solid #ccc;
      position: relative; }
  .case_index .case_filtrate .icheckbox_square-blue, .case_index .case_filtrate .icheckbox_square-red, .case_index .case_filtrate .icheckbox_square-green {
    position: absolute;
    top: -1px;
    left: 0; }
  .case_index .case_filtrate .icheckbox_square-red {
    background-position: -2px -2px !important; }
  .case_index .case_filtrate .icheckbox_square-red.hover {
    background-position: -26px -2px !important; }
  .case_index .case_filtrate .icheckbox_square-red.checked {
    background-position: -50px -2px !important; }
  .case_index .case_filtrate .icheckbox_square-blue {
    background-position: -2px -2px !important; }
  .case_index .case_filtrate .icheckbox_square-blue.hover {
    background-position: -26px -2px !important; }
  .case_index .case_filtrate .icheckbox_square-blue.checked {
    background-position: -50px -2px !important; }
  .case_index .case_filtrate .icheckbox_square-green {
    background-position: -2px -2px !important; }
  .case_index .case_filtrate .icheckbox_square-green.hover {
    background-position: -26px -2px !important; }
  .case_index .case_filtrate .icheckbox_square-green.checked {
    background-position: -50px -2px !important; }

.case_index .case_box #lawcase_list .case_item .row .col-md-12 .col-md-8 {
  padding: 0; }

.case_index .case_box #lawcase_list .case_item .row .col-md-12 .col-md-4 .col-md-3 a {
  font-size: 14px !important; }

.case_index .case_box #lawcase_list .case_item .row .col-md-12 .col-md-4 .col-md-6 {
  margin-bottom: 0;
  line-height: 34px; }
  .case_index .case_box #lawcase_list .case_item .row .col-md-12 .col-md-4 .col-md-6 a {
    font-size: 14px; }

/*Case—index 筛选部分CSS结束*/
/*------律师案例相关 LawyerCenter Case 结束------*/
/*------统计概览模块 LawyerCenter Charts------*/
.charts {
  padding: 0 40px;
  margin-top: 20px;
  color: #6a6c6f; }
  .charts .box {
    border: #E4E5E7 solid 1px;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 25px;
    background: #FFF;
    height: 132px; }
    .charts .box .total_icon {
      text-align: center; }
      .charts .box .total_icon img {
        max-height: 72px;
        max-width: 72px;
        margin: auto; }
    .charts .box .count {
      font-size: 30px;
      font-weight: 300;
      color: #E73D4A;
      line-height: 30px; }
  .charts h4 {
    font-weight: 600;
    padding: 10px 0; }
  .charts h5 {
    margin-top: 10px; }
  .charts .chart_all {
    border: #E4E5E7 solid 1px;
    border-radius: 3px;
    background: #FFF; }
    .charts .chart_all > div {
      height: 300px; }
  .charts .chart_item {
    background: #FFF;
    height: 300px; }
  .charts .chart_item_null {
    background: #FFF;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    color: #0097d3; }

/*------统计概览模块 LawyerCenter Charts 结束------*/
/*------个人简历 LawyerCenter Resume------*/
.profilesInfo {
  padding: 0; }
  .profilesInfo > div {
    min-width: 1350px;
    max-width: 1350px;
    padding: 75px 0; }
    .profilesInfo > div .tittle {
      margin-bottom: 65px;
      height: 140px;
      border: 1px solid #ff5858;
      background: #fff; }
      .profilesInfo > div .tittle > img {
        width: 125px;
        height: 125px;
        margin-top: 7.5px;
        margin-left: -77.5px;
        margin-right: 40px;
        float: left; }
      .profilesInfo > div .tittle h3 {
        display: inline-block;
        line-height: 140px;
        font-size: 18px;
        color: #ff4646; }
        .profilesInfo > div .tittle h3 img {
          vertical-align: initial;
          margin-right: 20px; }
    .profilesInfo > div .body {
      background-color: #fff;
      padding-bottom: 70px;
      /***审核状态样式***/ }
      .profilesInfo > div .body > div > img {
        width: 125px;
        height: 125px;
        margin-top: 25px;
        margin-left: -92.5px;
        margin-right: 40px;
        float: left; }
      .profilesInfo > div .body > div table {
        width: 1145px;
        height: auto;
        border: 1px solid #dedede;
        margin-top: 70px; }
        .profilesInfo > div .body > div table tr {
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #dedede; }
          .profilesInfo > div .body > div table tr td {
            display: inline-block;
            float: left;
            text-align: left; }
            .profilesInfo > div .body > div table tr td img {
              margin-right: 5px; }
            .profilesInfo > div .body > div table tr td a {
              cursor: pointer; }
            .profilesInfo > div .body > div table tr td:first-child {
              width: 475px;
              text-indent: 20px; }
            .profilesInfo > div .body > div table tr td:nth-child(2) {
              width: 105px; }
            .profilesInfo > div .body > div table tr td:nth-child(3) {
              width: 155px; }
            .profilesInfo > div .body > div table tr td:nth-child(4) {
              width: 105px; }
            .profilesInfo > div .body > div table tr td:nth-child(6) {
              width: 90px; }
            .profilesInfo > div .body > div table tr td:last-child {
              width: 90px; }
          .profilesInfo > div .body > div table tr td.add, .profilesInfo > div .body > div table tr td.refresh, .profilesInfo > div .body > div table tr td.edit, .profilesInfo > div .body > div table tr td.del {
            width: 100px;
            text-align: right; }
            .profilesInfo > div .body > div table tr td.add a, .profilesInfo > div .body > div table tr td.refresh a, .profilesInfo > div .body > div table tr td.edit a, .profilesInfo > div .body > div table tr td.del a {
              margin-right: 3px; }
              .profilesInfo > div .body > div table tr td.add a i, .profilesInfo > div .body > div table tr td.refresh a i, .profilesInfo > div .body > div table tr td.edit a i, .profilesInfo > div .body > div table tr td.del a i {
                margin-right: 3px; }
          .profilesInfo > div .body > div table tr td.add a {
            margin-right: 15px !important; }
        .profilesInfo > div .body > div table thead {
          background: #fafafa; }
          .profilesInfo > div .body > div table thead tr {
            height: 40px;
            line-height: 40px; }
        .profilesInfo > div .body > div table tbody .nodata td {
          width: 100% !important;
          min-height: 60px;
          text-align: center !important;
          line-height: 60px;
          color: #999; }
        .profilesInfo > div .body > div table tbody tr:hover {
          background-color: #f0fcfc; }
      .profilesInfo > div .body > div table.work tr td:first-child {
        width: 575px; }
      .profilesInfo > div .body > div table.work tr td:nth-child(2) {
        width: 205px; }
      .profilesInfo > div .body > div table.school tr td:first-child {
        width: 305px; }
      .profilesInfo > div .body > div table.school tr td:nth-child(2) {
        width: 270px; }
      .profilesInfo > div .body > div table.school tr td:nth-child(3) {
        width: 205px; }
      .profilesInfo > div .body > div table.school tr td:nth-child(4) {
        width: 155px; }
      .profilesInfo > div .body > div table.school tr td:nth-child(5) {
        width: 105px; }
      .profilesInfo > div .body > div table.aptitude tr td:first-child {
        width: 780px; }
      .profilesInfo > div .body > div table.aptitude tr td:nth-child(2) {
        width: 155px; }
      .profilesInfo > div .body > div table.aptitude tr td:nth-child(3) {
        width: 105px; }
      .profilesInfo > div .body > div table.society tr td:first-child, .profilesInfo > div .body > div table.academic tr td:first-child {
        width: 935px; }
      .profilesInfo > div .body > div table.society tr td:nth-child(2), .profilesInfo > div .body > div table.academic tr td:nth-child(2) {
        width: 105px; }
      .profilesInfo > div .body .unpass {
        color: #ff9600; }
      .profilesInfo > div .body .nopass {
        color: #ff5a5a; }
      .profilesInfo > div .body .pass {
        color: #30c9b2; }

/***简历相关模态框样式***/
#work h3, #edu h3, #cert h3, #academic h3, #socialPosition h3 {
  text-align: center; }

#work h5, #edu h5, #cert h5, #academic h5, #socialPosition h5 {
  color: #fb3333;
  padding: 20px 0; }

#work .datepicker input, #edu .datepicker input, #cert .datepicker input, #academic .datepicker input, #socialPosition .datepicker input {
  background-color: #fff;
  margin-top: 0; }

#work .datepicker span, #edu .datepicker span, #cert .datepicker span, #academic .datepicker span, #socialPosition .datepicker span {
  background-color: #fff; }

/***简历中上传图片控件样式***/
#eduPicker div, #certificatePicker div {
  width: 86px !important;
  height: 42px !important; }

/***简历相关模态框样式***/
/*------个人简历 LawyerCenter Resume 结束------*/
/*------个人设置相关 LawyerCenter Profile------*/
.profiles {
  margin-bottom: 20px;
  width: 1300px; }
  .profiles .profiles_filter {
    background: #FFF;
    padding-top: 20px;
    border: 1px solid #E4E5E7; }
    .profiles .profiles_filter h3 {
      font-size: 18px;
      color: #6a6c6f;
      padding-left: 54px; }
    .profiles .profiles_filter .title a {
      color: #E73D4A; }
    .profiles .profiles_filter .title a:hover {
      text-decoration: none; }
    .profiles .profiles_filter h4 {
      font-size: 16px;
      color: #6a6c6f;
      margin-bottom: 10px; }
    .profiles .profiles_filter h4 a, .profiles .profiles_filter h3 a {
      color: #333; }
    .profiles .profiles_filter h4 a:hover, .profiles .profiles_filter h3 a:hover {
      text-decoration: none; }
    .profiles .profiles_filter h4 .active, .profiles .profiles_filter h3 .active {
      color: #E73D4A; }
    .profiles .profiles_filter i {
      margin-right: 3px; }
    .profiles .profiles_filter .row {
      margin-bottom: 20px; }
  .profiles .profiles_box {
    padding: 20px;
    background: #FFF;
    border: #E4E5E7 solid 1px;
    border-radius: 3px;
    min-height: 535px; }
    .profiles .profiles_box .title_hint > div {
      margin-top: 25px;
      margin-bottom: 50px; }
      .profiles .profiles_box .title_hint > div h3 {
        font-size: 26px;
        display: inline-block;
        margin-bottom: 10px; }
      .profiles .profiles_box .title_hint > div span {
        margin-left: 54px;
        color: #E73D4A; }
    .profiles .profiles_box .title_hint > span {
      line-height: 50px;
      font-size: 16px;
      padding-left: 0; }
      .profiles .profiles_box .title_hint > span > span {
        text-align: right; }
  .profiles .profiles_body label {
    text-align: right;
    line-height: 35px; }
  .profiles .profiles_body div {
    line-height: 35px; }
    .profiles .profiles_body div .year_show {
      font-size: 14px;
      font-weight: 400;
      margin-right: 50px; }
      .profiles .profiles_body div .year_show div {
        margin-right: 10px; }
    .profiles .profiles_body div .year_hidden {
      font-size: 14px;
      font-weight: 400; }
      .profiles .profiles_body div .year_hidden div {
        margin-right: 10px; }
    .profiles .profiles_body div span {
      display: inline-block; }
  .profiles .profiles_body .form-actions {
    text-align: center;
    margin-top: 50px; }

/*------个人设置相关 LawyerCenter Profile 结束------*/
/*------底部------*/
footer {
  background: #6E6E6E url(site/red/bg_footer.png) top center no-repeat;
  color: #FFF;
  font-size: 16px; }
  footer a {
    color: #FFF; }
  footer h3 {
    background: url(site/red/allworld.png) no-repeat;
    padding-left: 45px;
    height: 40px;
    margin-top: 10px;
    line-height: 32px; }
  footer h4 {
    padding-left: 30px;
    height: 24px;
    margin: 10px 0 5px 7px;
    line-height: 22px; }
  footer h4.in {
    background: url(site/red/jingshin.png) 0 0 no-repeat; }
  footer h4.out {
    background: url(site/red/jingshout.png) 0 0 no-repeat; }
  footer ul {
    padding: 10px 10px 5px 40px;
    overflow: hidden; }
    footer ul li {
      float: left;
      margin-right: 10px;
      line-height: 28px; }
  footer .col-md-3 {
    text-align: center; }
    footer .col-md-3 p {
      width: 190px;
      margin: 0 auto; }
  footer .tel {
    background: url(site/red/tel.png) 0 15px no-repeat;
    padding-left: 55px;
    height: 67px;
    padding-top: 15px; }
    footer .tel span {
      color: #eeae3b;
      font-weight: bolder;
      font-size: 16px; }
  footer .contact {
    border-top: #FFF dashed 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center; }
    footer .contact a {
      font-size: 16px;
      margin-left: 4px;
      margin-right: 4px;
      padding: 3px 5px; }
  footer .bottom {
    background: #484848;
    height: 40px;
    line-height: 40px; }
  footer .col-md-3 > img {
    margin-top: 10px;
    cursor: pointer; }

/*------底部结束------*/

