@charset "UTF-8";
/*公用字体颜色、背景颜色集合及对应的变量集合*/
.bg_blue_light {
  background-color: #0097d3; }

.bg_red_light {
  background-color: #F1494E; }

.bg_yellow_light {
  background-color: #FFBC00; }

.bg_green_light {
  background-color: #45BE95; }

.bg_grey_light {
  background-color: #B2B2B2; }

.bg_grey_dark {
  background-color: #808080; }

.bg_yellow {
  background-color: #FF7937; }

.bg_red {
  background-color: #ff5b5b; }

.bg_9f {
  background-color: #9f9f9f; }

.color_blue_light {
  color: #0097d3; }

.color_red_light {
  color: #F1494E; }

.color_yellow_light {
  color: #FFBC00; }

.color_green_light {
  color: #45BE95; }

.color_grey_light {
  color: #B2B2B2; }

.color_grey_dark {
  color: #808080; }

.color_red {
  color: #ff5b5b; }

.color_9f {
  color: #9f9f9f; }

.color_yellow {
  color: #FF7937; }

/*公用设定*/
body {
  font: 400 14px/22px "Helvetica", "Tahoma", "Arial", "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", "Heiti", "黑体", sans-serif; }

a {
  text-decoration: none;
  color: #0097d3; }
  a:hover {
    text-decoration: underline;
    color: #FF7937;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear; }

ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

/*jQuery.Validate验证样式集合*/
.input-validation-error {
  border-color: #a94442;
  color: #a94442; }

.validation-summary-errors {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fbe1e3;
  border-color: #fbe1e3;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
  color: #e73d4a; }
  .validation-summary-errors span {
    background: url(images/icon/16/warning_triangle.png) 0 3px no-repeat;
    padding-left: 20px; }
  .validation-summary-errors ul {
    padding-left: 50px; }
    .validation-summary-errors ul li {
      list-style: disc; }

.validation-summary-valid span {
  display: none; }

/*基础设置代码*/
body {
  background: #EFF3F6; }

/*自定义内容：重置container的最小宽度*/
@media (min-width: 1320px) {
  .container {
    width: 1320px; } }

@media (min-width: 1400px) {
  .container {
    width: 1392px; } }

@media (min-width: 1600px) {
  .container {
    width: 1560px; } }

@media (min-width: 1860px) {
  .container {
    width: 1800px; } }

@media (min-width: 2500px) {
  .container {
    width: 1800px; } }

/*顶部*/
.header {
  width: 100%;
  background: #FFF;
  height: 60px;
  border-bottom: #E4E5E7 solid 1px; }
  .header .logo {
    margin-top: 7px; }

.navbar .navbar-brand {
  padding: 5px 15px; }
  .navbar .navbar-brand img {
    height: 40px; }

.navbar .navbar-collapse > ul > li > a {
  color: #777; }
  .navbar .navbar-collapse > ul > li > a > i {
    margin-right: 5px; }

.navbar .navbar-collapse > ul > li:hover {
  border-bottom: #E73D4A solid 2px; }
  .navbar .navbar-collapse > ul > li:hover > a {
    background: #F3F5F7;
    color: #E73D4A; }

.navbar .navbar-collapse > ul > li.active {
  border-bottom: #E73D4A solid 2px; }
  .navbar .navbar-collapse > ul > li.active > a {
    color: #E73D4A;
    background: #F3F5F7;
    box-shadow: none; }

.navbar .navbar-right li a {
  padding-top: 14px;
  padding-bottom: 14px; }
  .navbar .navbar-right li a img {
    height: 20px;
    overflow: hidden; }

.navbar .dropdown-menu li a {
  padding: 10px 0;
  text-align: center; }
  .navbar .dropdown-menu li a i {
    margin-right: 10px; }

.navbar .header_img_25 {
  width: 25px; }

/*主体内容区域*/
.edition_box {
  border: #ccc solid 1px;
  border-top: #E73D4A solid 3px; }
  .edition_box h3 {
    color: #E73D4A; }

/*------底部------*/
footer {
  background: #6E6E6E url(site/red/bg_footer.png) top center no-repeat;
  color: #FFF;
  font-size: 16px; }
  footer a {
    color: #FFF; }
  footer h3 {
    background: url(site/red/allworld.png) no-repeat;
    padding-left: 45px;
    height: 40px;
    margin-top: 10px;
    line-height: 32px; }
  footer h4 {
    padding-left: 30px;
    height: 24px;
    margin: 10px 0 5px 7px;
    line-height: 22px; }
  footer h4.in {
    background: url(site/red/jingshin.png) 0 0 no-repeat; }
  footer h4.out {
    background: url(site/red/jingshout.png) 0 0 no-repeat; }
  footer ul {
    padding: 10px 10px 5px 40px;
    overflow: hidden; }
    footer ul li {
      float: left;
      margin-right: 10px;
      line-height: 28px; }
  footer .col-md-3 {
    text-align: center; }
    footer .col-md-3 p {
      width: 190px;
      margin: 0 auto; }
  footer .tel {
    background: url(site/red/tel.png) 0 15px no-repeat;
    padding-left: 55px;
    height: 67px;
    padding-top: 15px; }
    footer .tel span {
      color: #eeae3b;
      font-weight: bolder;
      font-size: 16px; }
  footer .contact {
    border-top: #FFF dashed 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center; }
    footer .contact a {
      font-size: 16px;
      margin-left: 4px;
      margin-right: 4px;
      padding: 3px 5px; }
  footer .bottom {
    background: #484848;
    height: 40px;
    line-height: 40px; }
  footer .col-md-3 > img {
    margin-top: 10px;
    cursor: pointer; }

/*------底部结束------*/

