@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@model EasyFast.Application.Account.Dto.LoginInput

@{
    Layout = null;
    SetAntiForgeryCookie();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="renderer" content="webkit" />
    <title>系统登录_律师事务所OA系统</title>
    <meta name="author" content="北京京师律政科技有限公司" />
    <meta name="keywords" content="律师事务所OA系统,律师事务所在线办公系统,律师事务所管理系统" />
    <meta name="description" content="易迅律师事务所OA系统是一款高度成熟可靠的律师事务所管理系统。其在盈科、尚公、京师等各大律所被广泛使用，并得到了一致好评。" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.easyfast.cn/assets/metronic4.7.1/pages/css/login-5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Scripts/sweetalert/sweet-alert.css" rel="stylesheet" />
</head>

<body class="login">
    <!-- BEGIN : LOGIN PAGE 5-2 -->
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 login-container bs-reset">
                <img class="login-logo login-6" src="~/Content/images/logo.png" />
                <div class="login-content">
                    <h1>京师在线系统 - 后台登录</h1>
                    <p>系统前后台账户独立。请输入您的后台账户与密码。请注意：<strong class="font-red">您在后台的任何操作，系统都有完整的日志记录，请谨慎操作！</strong></p>

                    <form id="login-form" method="post" class="login-form">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            <span>请输入您的用户名/邮箱地址及密码！</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <input name="TenancyName" id="TenancyName" class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="律所" required />
                            </div>
                            <div class="col-xs-4">
                                <input name="UserName" id="UserName" class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="用户名/邮箱" required />
                            </div>
                            <div class="col-xs-4">
                                <input name="Password" id="Password" class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="密码" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="rememberme mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" name="RememberMe" /> 记住我（七日内不再登录）？
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-sm-8 text-right" style="z-index:2;">
                                <div class="forgot-password">
                                    <a href="javascript:;" id="forget-password" class="forget-password">忘记密码？</a>
                                </div>
                                <button class="btn blue" type="submit">系统登录</button>
                            </div>
                        </div>
                    </form>

                    <!-- BEGIN FORGOT PASSWORD FORM -->
                    <form class="forget-form" action="javascript:;" method="post">
                        <h3>忘记密码？</h3>
                        <p> Enter your e-mail address below to reset your password. </p>
                        <div class="form-group">
                            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                        </div>
                        <div class="form-actions">
                            <button type="button" id="back-btn" class="btn blue btn-outline">Back</button>
                            <button type="submit" class="btn blue uppercase pull-right">Submit</button>
                        </div>
                    </form>
                    <!-- END FORGOT PASSWORD FORM -->

                </div>
                <div class="login-footer">
                    <div class="row bs-reset">
                        <div class="col-xs-5 bs-reset">
                            <ul class="login-social">
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-7 bs-reset">
                            <div class="login-copyright text-right">
                                <p>Copyright &copy; JingShOnline 2014 <a href="http://www.easyfast.cn" target="_blank">www.easyfast.cn</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bs-reset">
                <div class="login-bg"> </div>
            </div>
        </div>
    </div>
    <!-- END : LOGIN PAGE 5-2 -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="http://cdn.easyfast.cn/assets/metronic4.7.1/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/sweetalert/sweet-alert.min.js"></script>
    <script src="~/Abp/Framework/scripts/abp.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.jquery.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.toastr.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.blockUI.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.spin.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.sweet-alert.js"></script>
    <script src="~/Views/Account/login.js"></script>
</body>
</html>

