<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear></clear>
    <add key="cnblog" value="https://nuget.cnblogs.com/v3/index.json" />
    <add key="JingShOnline Nuget" value="https://nuget.jingshonline.com/nuget" />
    <!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->
  </packageSources>
</configuration>
