
@{
    ViewBag.Title = "Index";
}

<div class="row opt">
    <div class="col-md-12">
        <button class="btn green">新建分所</button>
        <button class="btn blue">新建部门</button>
        <button class="btn purple">新建岗位</button>
        <button class="btn red">初始化新分所</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6"></div>
</div>
